// CSS Variables
:root {
    --font-color: rgba(18, 0, 24, 0.906);
    --font-color-lighter: rgba(37, 1, 49, 0.906);
    --btn-border-color: #241c2c;
    --btn-hover: #e3e6e7;
}



// Custom changes
 .mb-6 {
     margin-bottom: 5rem;
 }


 #movies-list {
     .list-group {
         flex-direction: row;
     }
 }