*:focus,
*:active {
    outline: none !important;
    box-shadow: none !important;
}

button,
.btn-light {
    background-color: transparent;
}

.btn {
    padding: 2rem 2.25rem;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-light {
    border: 1px solid var(--btn-hover);
    color: var(--btn-hover);

    &:hover {
        color: var(--btn-hover);
        background-color: var(--btn-border-color);
    }

    &:focus,
    &:active {
        border-color: var(--btn-hover);
    }

    a {
        color: var(--btn-hover);
    }
}

.btn-darker {
    border: 1px solid var(--font-color);
    color: var(--font-color);

    &:hover {
        color: var(--btn-hover);
        background-color: var(--font-color);
    }

    &:focus,
    &:active {
        border-color: var(--font-color);
    }
}

.btn-movie {
    border-right: 1px solid rgba(227, 230, 231, 0.171);
    color: var(--btn-hover);
    background-color: var(--patternColor);

    &:hover {
        color: var(--font-color);
        background-color: transparent;
        border: none;
    }
}

