
header {
    height: 100vh;
    background: linear-gradient(rgba(253, 203, 241, 0.2),
        rgba(230, 222, 233, 0.2)),
        url("../../assets/photo1.jpeg");
    background-size: cover;
}

.main-section {
    height: 90%;
}
                        //... navigation

.navbar-collapse {
    flex-basis: 0;
    .nav-item {
        width: 15rem;
    }
    .navbar-nav {
        flex-direction: row;
    }
}


                    //....showcase


.title {
    letter-spacing: 0.25rem;
    font-family: $font-header;
}

.socialbar {
    font-size: 1.5rem;
}