@media (max-width: 800px) {
    .navbar-collapse {
        .navbar-nav {
            margin: 0 auto;
        }
    }
}

@media (max-width: 800px) {
    .navbar-collapse {
        flex-basis: 100%;
        .nav-item {
            width: 10rem;
        }
        .navbar-nav {
            flex-direction: column;
        }
    }




    .main-section {
        .socialbar {
            visibility: hidden;
        }
    }

}

@media (min-width: 800px) and (max-width: 1063px) {

    .navbar-collapse {
        .navbar-nav {
            margin-right: auto;
        }
        .nav-item{
            width: 10rem;
        }

    }




 }