body {
    font-family: $font-family-serif;
}

i {
    font-size: 6rem;
}

a {
    text-transform: uppercase;
    color: var(--font-color);

    &:hover {
        text-decoration: none;
        color: var(--font-color-lighter)
    }

}

.sub-lead {
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}


.lead {
    font-family: $font-family-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.lighter {
    color: var(--font-color-lighter);
    font-weight: 800;
}

.title {
    letter-spacing: 0.25rem;
    font-family: $font-header;
}

.btn {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
}