
body {
    font-family: $font-family-sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i {
    font-size: 6rem;
}

a {
    text-transform: uppercase;
    color: var(--btn-hover);

    &:hover {
        text-decoration: none;
        color: var(--font-color-lighter)
    }

}

.sub-lead {
    font-size: 1.25rem;
    line-height: 2rem;
}


.lead {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    color: var(--font-color-lighter);
}

.title {
    letter-spacing: 0.25rem;
    font-family: $font-header;
    color: var(--btn-hover);
    text-shadow: 2px 4px 3px rgba(99, 99, 99, 0.3);
}

.btn {
    font-weight: 200;
    font-size: 1.20rem;
    letter-spacing: 1.75px;
}